.header {
    background:url("../../../img/headerimg/headerbg.png") top no-repeat;
    
    &__top {
        
    }

    &__bottom {
    }

    @media(max-width: 992px){
        background:url("../../../img/headerimg/headerbg.png") 0 -20px no-repeat;
    }
}
.top-header {

    &__content {
        display: flex;
        align-items: center;
        height: rem(90);
        @media(max-width: 992px){
            height: rem(70);
        }
    }

    &__column {
        flex: 0 1 50%;
        &_logo{
            flex: 0 0 100px;
            text-align: center;
            @media(min-width: 992px){
                align-self: flex-start;
                padding: rem(40) 0 0 0;
            }
        }
    }

    &__menu {
    }

    &__logo {
        display: inline-block;
        @media(max-width: 992px){
            width: 100px;
            img{
                max-width: 100%;
            }
        }
    }

    &__contacts {
    }
}

.menu {

    &__icon {
    }

    &__body {
        @media(max-width: 992px){
            position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        overflow: auto;
        display: block;
        z-index: 2;
        padding: rem(70) rem(20) rem(30) rem(20);
        background-color: #14c0d4;
        }
        &._active{
            
        }
    }

    &__list {
        display: grid;
        grid-template-columns: rem(110) rem(130) rem(180);
        li{
            margin: rem(1) 0;
            flex: 0 0 33.333%;
            white-space: nowrap;
        }
        @media (max-width: 1200px){
            grid-template-columns: rem(90) rem(110) rem(160);
        }
    }

    &__link {
        height: rem(27);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: rem(5) rem(22);
        font-size: rem(14);
        text-decoration: underline;
        transition: all 0.3s ease 0s;
        color: white;
        font-weight: 500;
        &:hover{
            border-radius: rem(20);
            background-color: #068292;
        }
    }
}
.icon-menu {
    display: none;
    @media(max-width: 992px){
        display: block;
        position: relative;   
        width: rem(30);
        height: rem(18);
        cursor: pointer;
        z-index: 5;
        span{
            transition: all 0.3s ease 0s;
            top: calc(50% - 1px);
            left: 0;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: #fff;
            &:first-child{
                top: 0;
            }
            &:last-child{
                top: auto;
                bottom: 0;
            }
        }
        &._active{
            span{
                transform: scale(0);
                &:first-child{
                    transform: rotate(-45deg);
                    top: calc(50%-1px);

                }
                &:last-child{
                    transform: rotate(45deg);
                    bottom: calc(50% -1px);
                }
            }
        }
    }

}
.contacts-header {
    display: flex;
    justify-content: center;
    @media(max-width: 992px){
       justify-content: flex-end;
    }
    
    &__column {
        padding: 0 rem(30);
        border-left: 1px solid white;
        &:first-child{
            border: 0;
        }
        @media (max-width: 1200px){
            padding: 0 rem(15);
        }
        @media (max-width: 992px){
            &:last-child{
                display: none;
            }
        }
        @media (max-width: 640px){
            padding: 0;
        }

    }

    &__item {

        &_icon {
            background: url("../../../img/iconphone.png") left no-repeat;
            padding: 0  0 0 rem(37);
            @media (max-width: 1200px){
                padding: 0  0 0 rem(25); 
                background-size: rem(15);
            }
            @media (max-width: 640px){
                background: none;
                padding: 0;
            }
        }
    }

    &__label {
        font-size: rem(12);
        font-weight: 300;
        color: #fff;
        @media (max-width: 640px){
            font-size: 0;
        }
    }

    &__phone {
        color: white;
        font-size: rem(18);
        font-weight: 900;
        white-space: nowrap;
        @media (max-width:1200px){
            font-size: rem(16);
        }
        @media (max-width: 640px){
            font-size: 0;
            background: url("../../../img/iconphone.png") left no-repeat;
            width: 19px;
            height: 25px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
.bottom-header {

    &__container {
        display: flex;
        height: rem(63);
        align-items: center;
        justify-content: space-between;
    }

    &__column {
        flex: 0 1 calc(50% - 95px);
    }

    &__actions {
        display: flex;
    }

    &__info {
    }
}
.actions-header {
    display: flex;
    align-items: center;
    li{
        margin: 0 rem(54) 0 0 ;
        @media(max-width: 1200px){
            margin: 0 30 / $wrapRem * 100vw 0 0;
        }
    }

    &__item{
        padding: 0 0 0 rem(36);
        display: inline-block;
        line-height: rem(24);
        font-size: rem(14);
        color:#999999 ;
        span{
            border-bottom: 1px dashed ;
        }
        &_login{
            background: url("../../../img/icon1\ \(1\).png") left no-repeat;
        }
        &_reg{
            background: url("../../../img/icon2\ \(1\).png") left no-repeat;
        }
        &_email{
            background: url("../../../img/icon3\ \(2\).png") left no-repeat;
        }
        @media(max-width: 1200px){
            padding: 0 0 0 rem(30);
        }
        @media (max-width: 992px){
            padding: 0;
            background: none;  
        }


        
    }  
}
.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    &__column {
        padding: 0 rem(54) 0 0 ;
        &:last-child{
            padding: 0  ; 
        }
        @media(max-width: 1200px){
            margin: 0 30 / $wrapRem * 100vw 0 0;
            padding: 0;
        }
    }

    &__callback {
        background: url("../../../img/icon4.png") left no-repeat;
        display: inline-block;
        line-height: rem(20);
        padding: 0 0 0 rem(32);
        font-size: rem(14);
        color: #1ab9ce;
        white-space: nowrap;
        span{
            border-bottom: 1px dashed ;
        }
        @media(max-width: 1200px){
            background: none;
            padding: 0;
        }

    }

    &__chedule {
        background: url("../../../img/icon5\ \(1\).png") left no-repeat;
        display: inline-block;
        line-height: rem(18);
        padding: 0 0 0 rem(32);
        font-weight: 300;
        font-size: rem(12);
        color: #999999;
        white-space: nowrap;
        span{
            font-weight: 900;
            margin: 0 rem(4) 0 0;
        }
        @media(max-width: 1200px){
            background: none;
            padding: 0;
        }
        @media (max-width: 992px){
           display: none; 
           
        }
    }

    &__cart {
        height: rem(43);
        width: rem(43);
        background: url("../../../img/icon6.png") 0 0  no-repeat;
        display: inline-block;
        position: relative;
        span{
            padding: 0 rem(11);
            position: absolute;
            
            line-height: rem(25);
            background-color: #f68038;
            border-radius: 20px;
            font-weight: 700;
            font-size: rem(18);
            color: #fff;
            right: -25px;
            top: -3px;
            @media (max-width: 1200px){
                right: -15px;
            }
            
            
            
        }

    }
}
