@import "./utils/mixins";
@import "./config/vendor";
@import "./config/default-variables";
@import "./config/global";
@import "./utils/functions";

._container { 
  @include container(rem($wrapRem));
  padding: 0 rem(20);
  margin: 0 auto;
}
.header{
  padding-top:0;
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}



@import "./components/index";
@import "./components/blocks/header.scss";
@import "./components/blocks/mainpage.scss";



// MAIN PAGE

.page {
  flex: 1 1 auto;
  padding-top:rem(160) ;
  // .page__container

  &__container {
    display: flex;
  }

  // .page__side

  &__side {
    flex: 0 0 rem(260);
  }

  // .page__menu

  &__menu {
  }

  // .page__content

  &__content {
    flex: 1 1 auto;
    padding: 0 0 0 rem(30);
  }
}

.menu-page {
  background:url('../img/bg_menu.webp') top no-repeat ;
  // .menu-page__header

  &__header {
    padding: rem(20);
    display: flex;
    align-items: center;
  }

  // .menu-page__title

  &__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: rem(30);
    text-transform: uppercase;
    letter-spacing: 0.025em;
    
    color: #ffffff;
    
  }

  // .menu-page__burger

  &__burger {
    flex: 0 0 rem(36);
    width: rem(36);
    height: rem(36);
    background-color: #068292;
    position: relative;   
    cursor: pointer;
    padding: rem(10);
      span{
          transition: all 0.3s ease 0s;
          top: calc(50% - 1px);
          left: 0;
          position: absolute;
          width: 100%;
          height: rem(2);
          background-color: #fff;
          &:first-child{
              top: 0;
          }
          &:last-child{
              top: auto;
              bottom: 0;
          }
      }
      &._active{
          span{
              transform: scale(0);
              &:first-child{
                  transform: rotate(-45deg);
                  top: calc(50%-1px);

              }
              &:last-child{
                  transform: rotate(45deg);
                  bottom: calc(50% -1px);
              }
      } 
      } 
  }
  &__lines{
    height: rem(16);
    position: relative;
  }

  // .menu-page__body

  &__body {
  }

  // .menu-page__list

  &__list {
    li{
      border-bottom:1px solid #1aa7b9;  
    }
  }

  // .menu-page__link

  &__link {
    font-family: Roboto;
    font-size: rem(12);
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #ffffff;
    display: block;
    padding: rem(12) rem(20);
    position: relative;
    @media(min-width: 992px){
      &:hover{
        background-color: #098494;
      }
    }

    // .menu-page__link_parent

    &_parent {
      
      &::after{
        content:"";
        position: absolute;
        right: 10px;
        top: 50%;
        background: url('../img/menu_arrow.webp');
        width: rem(14);
        height: rem(14);
        transform: translate(0px, -50%);
      }

    }
  }

  // .menu-page__submenu

  &__submenu {
  }
}
.submenu-page {
}
